.add-book-form {
    margin: 40px 0 20px 0;
    padding: 40px 0 60px 0;
    
    background-color: blanchedalmond;

    input {
        padding: 8px 10px;
        border: 5px solid darksalmon;
        margin: 0 5px;
        background-color: rgb(248, 243, 240);
    }

    .image-inpt {
        min-width: 200px;
    }
}