.book {
    min-width: 30%;
    display: flex;
    flex: 1 0 0;
    justify-content: space-between;
    margin: 10px 15px;
    padding: 50px 30px;
    box-sizing: border-box;

    @media (max-width: 576px) {
        min-width: 100%;
    }

    article {
        text-align: center;
        width: 100%;
    }

    h2 {
        margin: 10px 0 5px 0;
    }

    h6 {
        margin: 10px 0 30px 0;
    }

    form {
        width: 100%;
        box-sizing: border-box;

        input {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 10px 15px;
            box-sizing: border-box;
            border: 0;
        }

        button {
            margin-top: 20px;
        }
    }

    .remove-btn {
        border: 5px solid rgb(228, 228, 228);
        background-color: rgb(228, 228, 228);

        &:hover {
            border: 5px solid rgb(236, 230, 230);
            background-color: rgb(236, 230, 230);
        }
    }

    .image {
        margin: 0 auto;
        width: 100px;

        img {
            width: 100%;
        }
    }

    .updateBookForm {
        input {
            border: 5px solid darksalmon;
        }
    }
}